<dialog id="<%= locals.createFolderErrors ? "error-create-folder" : "create-folder" %>">
  <form action="<%= `/${folder?.id}/create-folder` %>" method="post">
    <h4>Create a folder</h4>
    <%- include("errors.ejs", {errors: locals.createFolderErrors}) %>
    <div>
      <label for="folderName">Enter the folder name:</label>
      <input type="text" name="folderName" id="folderName" required>
    </div>
    <div>
      <button formmethod="dialog" formnovalidate>Cancel</button>
      <button>Create</button>
    </div>
  </form>
</dialog>