<dialog class="delete-file">
  <form action="<%= `/${file?.id}/delete-file` %>" method="post">
    <h3 class="title-margin">Confirm deletion</h3>
    <p>File <%= file?.name %> is going to be deleted.</p>
    <div class="dialog-buttons special-margin">
      <button formmethod="dialog" formnovalidate>Cancel</button>
      <button>Delete</button>
    </div>
  </form>
</dialog>
