<% if (locals.errors) {%>
<div>
  <h4 class="error-msg">Submission failed:</h4>
  <ul class="error-details">
    <% errors.forEach(function(error) { %>
    <li><%= error.msg %></li>
    <% }); %>
  </ul>
</div>
<% } %>