<dialog class="<%= locals.errors ? `error-rename-file` : `rename-file` %>">
  <form action="<%= `/${file?.id}/rename-file` %>" method="post">
    <h4>Rename file</h4>
    <%- include("errors.ejs") %>
    <div>
      <label for="fileName">Enter a new file name:</label>
      <input type="text" name="fileName" id="fileName" required>
    </div>
    <div>
      <button formmethod="dialog" formnovalidate>Cancel</button>
      <button>Rename</button>
    </div>
  </form>
</dialog>