<dialog id="<%= locals.uploadFileErrors ? "error-upload-file" : "upload-file" %>">
  <form action="<%= `/${folder?.id}/upload-file` %>" method="post" enctype="multipart/form-data">
    <h4>Upload a file</h4>
    <%- include("errors.ejs", {errors: locals.uploadFileErrors}) %>
    <input type="file" name="file" id="file" required>
    <div>
      <button formmethod="dialog" formnovalidate>Cancel</button>
      <button>Upload</button>
    </div>
  </form>
</dialog>