/* normalize stylesheet */
@import "./modern-normalize.css";

/* reset stylesheet */
:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* custom */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px 150px;
  background-color: rgb(19, 19, 19);
  color: white;
  display: flex;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.logo > img {
  width: 40px;
}

main {
  padding: 40px 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer {
  margin-top: auto;
  text-align: center;
  background-color: rgb(19, 19, 19);
  color: white;
  padding-block: 3px;
}

label {
  display: block;
  font-size: 1.2rem;
}

input {
  min-width: 300px;
  padding: 4px 8px;
  margin-block: 10px;
}

button {
  cursor: pointer;
  padding: 6px 25px;
  font-size: 1.2rem;
  font-weight: 500;
}

form > div {
  padding-block: 10px;
}

form > button {
  margin-block: 10px;
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
  padding-block: 5px;
}

.green {
  color: rgb(18, 119, 18);
}

th, td {
  padding: 5px 10px;
  font-size: 1.1rem;
}

.folder {
  font-weight: 600;
  cursor: pointer;
}

.error-msg {
  color: red;
  font-weight: 500;
  font-size: 1.2rem;
}

.error-details {
  color: red;
}

.form-body {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 15px 30px;
  align-items: center;
}

@media (max-width: 600px) {
  header {
    padding-inline: 20px;
  }

  main {
    padding-inline: 20px;
  }
  
  input {
    min-width: 100%;
  }

  .logo {
    font-size: 1.5rem;
  }

  .logo > img {
    width: 30px;
  }

  .form-body {
    grid-template-columns: auto;
    gap: 7px;
  }
}
